---
import ShoelaceLayout from '../layouts/ShoelaceLayout.astro';
import SessionCard from '../components/SessionCard.astro';

import {
  // fetchAllIssuesWithComments,
  fetchAllIssues,
  getGithubAccessToken,
} from '../util/fetchgfiocomments.js';

const owner = 'gongfudev';
const repo = 'sessions';
const token = getGithubAccessToken();

let commentsData;

// Define an async function to fetch the comments data
async function fetchComments() {
  commentsData = await fetchAllIssues(owner, token, repo);
  commentsData.reverse();
}

// Call the function
await fetchComments();
console.log('fetched commentsData: length=', commentsData.length);
---

<ShoelaceLayout title='gfio-sessions'>
  <div class='gfio-sessions'>
    <h1>Gōng-fu DEV Weekly · Hack Sessions</h1>
    {
      commentsData.map((session) => (
        <SessionCard
          title={session.title}
          body={session.body}
          author={session.author}
          createdAt={session.createdAt}
          comments={session.comments.nodes}
        />
      ))
    }
  </div>
</ShoelaceLayout>

<style>
  .gfio-sessions {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
